#  Configuración de la Base de Datos en Railway
MYSQL_HOST=su_host_de_base_de_datos
MYSQL_PORT=puerto_de_base_de_datos
MYSQL_USER=usuario_de_base_de_datos
MYSQL_PASSWORD=contraseña_de_base_de_datos
MYSQL_DATABASE=nombre_de_base_de_datos

#  Configuración del Servidor
PORT=puerto_del_servidor

#  Credenciales del Administrador
ADMIN_USER=nombre_de_usuario
ADMIN_PASSWORD=contraseña_segura
SESSION_SECRET=un_secreto_muy_largo_y_dificil_de_adivinar